<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMemberMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.SysMember">
        <!--@Table sys_member-->
        <result property="id" column="ID"/>
        <result property="cardNum" column="CARD_NUM" jdbcType="VARCHAR"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
        <result property="gender" column="GENDER" jdbcType="VARCHAR"/>
        <result property="phone" column="PHONE" jdbcType="VARCHAR"/>
        <result property="balance" column="BALANCE" jdbcType="NUMERIC"/>
        <result property="additionalBalance" column="ADDITIONAL_BALANCE" jdbcType="NUMERIC"/>
        <result property="sumOfTopUp" column="SUM_OF_TOP_UP" jdbcType="NUMERIC"/>
        <result property="sumOfConsumption" column="SUM_OF_CONSUMPTION" jdbcType="NUMERIC"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="spare2" column="SPARE2" jdbcType="VARCHAR"/>
        <result property="spare3" column="SPARE3" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BASE_COLUMN">
        ID, CARD_NUM, NAME, NICKNAME, GENDER, PHONE, BALANCE, ADDITIONAL_BALANCE, SUM_OF_TOP_UP, SUM_OF_CONSUMPTION, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, STATUS, SPARE2, SPARE3
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          ID, CARD_NUM, NAME, NICKNAME, GENDER, PHONE, BALANCE, ADDITIONAL_BALANCE, SUM_OF_TOP_UP, SUM_OF_CONSUMPTION, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, STATUS, SPARE2, SPARE3
        from shiyi.sys_member
        where ID = #{id}
    </select>

    <!--查询指定行数据-->
<!--    <select id="queryAllByLimit" resultMap="BaseResultMap">-->
<!--        select-->
<!--          ID, CARD_NUM, NAME, NICKNAME, GENDER, PHONE, BALANCE, ADDITIONAL_BALANCE, SUM_OF_TOP_UP, SUM_OF_CONSUMPTION, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, SPARE1, SPARE2, SPARE3-->
<!--        from shiyi.sys_member-->
<!--        limit #{offset}, #{limit}-->
<!--    </select>-->

    <!--通过实体作为筛选条件查询-->
<!--    <select id="queryAll" resultMap="BaseResultMap">-->
<!--        select-->
<!--          ID, CARD_NUM, NAME, NICKNAME, GENDER, PHONE, BALANCE, ADDITIONAL_BALANCE, SUM_OF_TOP_UP, SUM_OF_CONSUMPTION, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, SPARE1, SPARE2, SPARE3-->
<!--        from shiyi.sys_member-->
<!--        <where>-->
<!--            <if test="id != null">-->
<!--                and ID = #{id}-->
<!--            </if>-->
<!--            <if test="cardNum != null and cardNum != ''">-->
<!--                and CARD_NUM = #{cardNum}-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                and NAME = #{name}-->
<!--            </if>-->
<!--            <if test="nickname != null and nickname != ''">-->
<!--                and NICKNAME = #{nickname}-->
<!--            </if>-->
<!--            <if test="gender != null and gender != ''">-->
<!--                and GENDER = #{gender}-->
<!--            </if>-->
<!--            <if test="phone != null and phone != ''">-->
<!--                and PHONE = #{phone}-->
<!--            </if>-->
<!--            <if test="balance != null">-->
<!--                and BALANCE = #{balance}-->
<!--            </if>-->
<!--            <if test="additionalBalance != null">-->
<!--                and ADDITIONAL_BALANCE = #{additionalBalance}-->
<!--            </if>-->
<!--            <if test="sumOfTopUp != null">-->
<!--                and SUM_OF_TOP_UP = #{sumOfTopUp}-->
<!--            </if>-->
<!--            <if test="sumOfConsumption != null">-->
<!--                and SUM_OF_CONSUMPTION = #{sumOfConsumption}-->
<!--            </if>-->
<!--            <if test="remark != null and remark != ''">-->
<!--                and REMARK = #{remark}-->
<!--            </if>-->
<!--            <if test="createdBy != null and createdBy != ''">-->
<!--                and CREATED_BY = #{createdBy}-->
<!--            </if>-->
<!--            <if test="createdTime != null">-->
<!--                and CREATED_TIME = #{createdTime}-->
<!--            </if>-->
<!--            <if test="updatedBy != null and updatedBy != ''">-->
<!--                and UPDATED_BY = #{updatedBy}-->
<!--            </if>-->
<!--            <if test="updatedTime != null">-->
<!--                and UPDATED_TIME = #{updatedTime}-->
<!--            </if>-->
<!--            <if test="spare1 != null and spare1 != ''">-->
<!--                and SPARE1 = #{spare1}-->
<!--            </if>-->
<!--            <if test="spare2 != null and spare2 != ''">-->
<!--                and SPARE2 = #{spare2}-->
<!--            </if>-->
<!--            <if test="spare3 != null and spare3 != ''">-->
<!--                and SPARE3 = #{spare3}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->


    <select id="queryCondition" parameterType="com.ruoyi.system.domain.SysMember" resultMap="BaseResultMap">
        select
            <include refid="BASE_COLUMN"></include>
        from sys_member
            <where>
                STATUS <![CDATA[<>]]> '0'
                <if test="name != null and name != ''">
                    NAME like concat('%',#{name},'%')
                </if>
                <if test="nickname != null and nickname != ''">
                    NICKNAME like concat('%',#{nickname},'%')
                </if>
            </where>
    </select>

    <!--新增所有列-->
<!--    <insert id="insert" keyProperty="id" useGeneratedKeys="true">-->
<!--        insert into shiyi.sys_member(CARD_NUM, NAME, NICKNAME, GENDER, PHONE, BALANCE, ADDITIONAL_BALANCE, SUM_OF_TOP_UP, SUM_OF_CONSUMPTION, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, SPARE1, SPARE2, SPARE3)-->
<!--        values (#{cardNum}, #{name}, #{nickname}, #{gender}, #{phone}, #{balance}, #{additionalBalance}, #{sumOfTopUp}, #{sumOfConsumption}, #{remark}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{spare1}, #{spare2}, #{spare3})-->
<!--    </insert>-->

    <!--通过主键修改数据-->
    <update id="update" parameterType="com.ruoyi.system.domain.SysMember">
        update shiyi.sys_member
        <set>
            <if test="cardNum != null and cardNum != ''">
                CARD_NUM = #{cardNum},
            </if>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="nickname != null and nickname != ''">
                NICKNAME = #{nickname},
            </if>
            <if test="gender != null and gender != ''">
                GENDER = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                PHONE = #{phone},
            </if>
            <if test="balance != null">
                BALANCE = #{balance},
            </if>
            <if test="additionalBalance != null">
                ADDITIONAL_BALANCE = #{additionalBalance},
            </if>
            <if test="sumOfTopUp != null">
                SUM_OF_TOP_UP = #{sumOfTopUp},
            </if>
            <if test="sumOfConsumption != null">
                SUM_OF_CONSUMPTION = #{sumOfConsumption},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark},
            </if>
            <if test="createdBy != null and createdBy != ''">
                CREATED_BY = #{createdBy},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime},
            </if>
            <if test="status != null and status != ''">
                STATUS = #{status},
            </if>
            <if test="spare2 != null and spare2 != ''">
                SPARE2 = #{spare2},
            </if>
            <if test="spare3 != null and spare3 != ''">
                SPARE3 = #{spare3},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--批量逻辑删除-->
    <update id="batchLogicDel">
        update sys_member sm
            <set>
                sm.STATUS = '0'
            </set>
        WHERE sm.ID IN
            <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </update>

    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.ruoyi.system.domain.SysMember" useGeneratedKeys="true">
        insert into sys_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNum != null">
                CARD_NUM,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="nickname != null">
                NICKNAME,
            </if>
            <if test="gender != null">
                GENDER,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="balance != null">
                BALANCE,
            </if>
            <if test="additionalBalance != null">
                ADDITIONAL_BALANCE,
            </if>
            <if test="sumOfTopUp != null">
                SUM_OF_TOP_UP,
            </if>
            <if test="sumOfConsumption != null">
                SUM_OF_CONSUMPTION,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="spare2 != null">
                SPARE2,
            </if>
            <if test="spare3 != null">
                SPARE3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNum != null">
                #{cardNum,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="additionalBalance != null">
                #{additionalBalance,jdbcType=DECIMAL},
            </if>
            <if test="sumOfTopUp != null">
                #{sumOfTopUp,jdbcType=DECIMAL},
            </if>
            <if test="sumOfConsumption != null">
                #{sumOfConsumption,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="spare2 != null">
                #{spare2,jdbcType=VARCHAR},
            </if>
            <if test="spare3 != null">
                #{spare3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <!--通过主键删除-->
    <delete id="batchDelete">
        delete from shiyi.sys_member where ID IN
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </delete>

</mapper>